$bgMainColor: #f8f8f8;
$bgMenuColor: #fff;
$defaultTextColor: #1b1c21;
$accentColor: #ff3e79;
$serviceActiveBorderColor: #B8FFEC;
$borderColor: #EAEAEA;
$defaultTextcolor2: #7E7E82;
$activeCategory: #41f6d7;

$gridElementDesktopWidth: 240px;
$gridElementTabletWidth: 224px;